/* Body Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #c4e8f1;
    color: #004e82; 
    margin: 15pt;
  }
  

/* Profile Pic  */

#profile_pic {
  width: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#profile_pic.enlarged {

  transform: scale(2);

}

  /* Heading Styles */
  h1 {
    font-size: 36pt;
    color: #003686;
    font-weight: bold;
  }
  
  h2 {
    font-size: 30pt;
    color: #3d4b8b;
    font-weight: bold;
  }
  
  h3 {
    font-size: 24pt;
    color: #5a62cd; 
    font-weight: normal;
  }
  


  /* Paragraph Styles */
  p {
    font-family: "Times New Roman", serif;
    font-size: 12pt;
    color: #242136; 
    line-height: 1;
  }
  

  
  /* Link Styles */
  a:link, a:visited {
    color: #c436a5; 
    text-decoration: none;
  }
  
  a:hover {
    color: #ff4500; 
    text-decoration: underline;
  }
  
  a:active {
    color: #228b22;
    text-decoration: underline;
  }
  


  /* Table Styles */
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #4b0082; 
    color: white;
  }

  button {
    color: #4c00ff;
    background-color: #c436a5;
  }
  
  /* Div Styles for Organization */
  .div-text, .div-links {
    width: 48%;
  }
  
  
  
  /* Link Layout Table */
  .table-links {
    width: 100%;
    margin-top: 20px;
  }
  
  .table-links td {
    padding: 10px;
    text-align: left;
    border: 1px solid #360c97;
  }
  
  .table-links th {
    background-color: #ffffff;
    color: white;
    text-align: center;
  }
  

/* Global Navigation Bar  */
nav {
background-color: #f79F79;
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

nav li {
  float: left;
}

nav a {
padding: 15px;
display: block;
font-size: 25pt;
color: #58355E;
}

nav a:hover {
color: #f1f1f1;
}


#nav-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

#nav-menu li {
  float: left;
}

#nav-menu li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#nav-menu li a:hover {
  background-color: #111;
}

.dropdown-content {
  display: none; /* Initially hidden */
  position: absolute;
  background-color: #474747;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(46, 46, 46, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}



/*/////////////////////////////
Following was used for Lab 6 //
////////////////////////////*/

/* Form container */
.form-container {
  background-color: #fff;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* For label elements used on forms*/
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* For the text input form elements*/
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: calc(100% - 20px); /* Subtracted to adjust for padding*/
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select{
  margin-bottom: 20px; /* Adding a luttle bit of marging to the bottom of dropdown select to space the form better*/
}

/* For radio button and checkbox*/
input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

/* For butons */
.buttons {
  text-align: center;
}
